body{
    margin: 0;
    background: #060606;
    color: #E3E5EA;
    font-family:"League Spartan";
}
/* TEXT STYLES */
h1,h2,h3,h4,h5,h6{
    font-family: "DM Sans";
    font-weight: 700;
}
h1{
    font-size: 76.29px;
    line-height: 84.45px;
}
h2{
    font-size: 61.04px;
    line-height: 67.14px;
}
h3{
    font-size: 48.83px;
    line-height: 63.58px;
}
h4{
    font-size:39.06px;
    line-height: 50.86px;
}
h5{
    font-size: 31.25px;
    line-height: 40.69px;
}
h6{
    font-size: 25px;
    line-height: 32.55px;
}

.LargeBody, .Body, .SmallBody{
    font-weight: 400;
}
.LargeBody{
    font-size: 20px;
    line-height:20px;
}
.Body{
    font-size: 16px;
    line-height: 18px;
}
.SmallBody{
    font-size: 12.8px;
    line-height: 14px;
}
.ParagraphMedium{
    font-size: 14;
}
/*app text styles*/
.h1app, .h2app, .HeroApp{
    font-weight: 700;
}
.h1app{
    font-size: 24px;
    line-height: 31.25px;
}
.h2app{
    font-size: 20px;
    line-height: 26.04px;
}
.pLargeApp, .pBoldApp, .buttonApp{
    font-size: 16px;
    line-height: 14.72px;
}
.pBoldApp, .pMediumBoldApp, .pSmallBoldApp{
    font-weight: 600;
}
.pMediumApp, .pMediumBoldApp{
    font-size: 14px;
    line-height: 12.88px;
}
.pSmallApp, .pSmallBoldApp{
    font-size: 12px;
    line-height: 11.04px;
}
.buttonApp{
    font-weight: 500;
}
.HeroApp{
    font-family: "DM Sans";
    font-size: 48px;
    line-height: 62.5px;
}

/* HEADER */
header{
    padding: 13px 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header picture{
    height: 54px;
}
.login{
    display: flex;
    column-gap: 10px;
}
.login a{
    width:114px;
    height: 32px;
    display: flex;
    border-radius: 69px;
    align-items: center;
    justify-content: center;
    color:#E3E5EA;
    font-size: 20px;
    line-height: 18.4px;
    text-decoration: none;

    -webkit-border-radius: 69px;
    -moz-border-radius: 69px;
    -ms-border-radius: 69px;
    -o-border-radius: 69px;
}
.login> :nth-child(2){
    border: 1px solid #B83EFA;
    color: #B83EFA;
}
/* MAIN> */

/*FIRST SECTION*/

.Introduction{
    height: 562px;
    position: relative;
    display: flex;
}
.Introduction> div{
    width: 480px;
    margin:0 162px 0 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
} 
.Introduction> div h1{
    margin: 0 0 20px 0;
}
.Introduction div p{
    margin: 0;
}
.Introduction .buttons{
    margin-top: 55px;
    display: flex;
    justify-content: center;
    gap: 45px;
}
.Introduction .buttons a{
    width: 204px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-decoration: none;
    font-size: 32px;
    font-weight: 600;
    line-height: 35.2px;
    color: #E3E5EA;
    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.Introduction .buttons> :first-child{
    background-color: #CDFD06;
    color: #060606;
}
.Introduction .buttons>  :nth-child(2){
    border: 1px solid #E3E5EA;
    }
.Introduction> picture{
    overflow: hidden;   
}
.Introduction> picture> img{
    margin-top: 17.77px;
    max-height: 634.73px;
}
.Introduction> picture::before{
    content: "";
    width: 203px;
    aspect-ratio: 1/1;
    display: block;
    position: absolute;
    z-index: -1;
    top: 35%;
    right: 31.6%;
    background-color: hsla(279, 95%, 61%, 60%);
    border-radius: 100%;
    filter: blur(100px);

    -webkit-filter: blur(100px);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
.Introduction> picture::after{
    content: "";
    width: 203px;
    aspect-ratio: 1/1;
    display: block;
    position: absolute;
    z-index: -1;
    top: 23%;
    right: 10%;
    background-color: hsla(72, 98%, 51%, 80%);
    border-radius: 100%;
    filter: blur(100px);

    -webkit-filter: blur(100px);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.screen{
    width: 390px;
    position: absolute;
    background: #060606;
}
/* screen 1 */
.statusbar{
    padding: 16.3px 27px;
    display: flex;
    justify-content: space-between;
}
.statusbar picture{
    max-height: 13.12px;
}
.statusbar img{
    margin: 0;
}
.screen1 article{
    padding: 16px 16px 22.04px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.screen1 article> h1{
    width: 100%;
    margin: 0 0 24px;
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
    font-family:"Poppins";
    font-weight: 600;
    line-height: 36px;
}
.screen1 article> h1::before{
    content: "";
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0;
    align-self: center;
    display: block;
    background: url("../assets/images/arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    filter: invert();
    transform: rotate(180deg);

    -webkit-filter: invert();
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.screen1 article> section{
    text-align: center;
    width: 100%;
}
.screen1 article> section .profile picture{
    width:64px;
    height: 64px;
    margin: 0 auto 8px;
    display: block;
    overflow: hidden;
    border-radius: 100px;
    background: url("../assets/images/AppIcons/Venice.jpeg");
    background-size: cover;
    background-position: center;

    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
.screen1 article> section .profile h2{
    margin: 0 0 1px;
}
.screen1 article> section .profile p{
    font-weight: 300;
}
.screen1 article> section .amount{
    margin-top: 32px;
    font-weight: 300;
}
.screen1 article> section .select{
    margin-top: 32px;
}
.screen1 article> section .select h2{
    margin: 0 0 16px;
}
.screen1 article> section .select> div{
    padding: 16px 21.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    background-color: #18191Bff;

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.account> div{
    height: 40px;
    display: flex;
    align-items: center;
}
.account> div div{
    height: 100%;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: start;
}
.account> div div :first-child{
    font-family: "Poppins";
    font-weight: 600;
}
.account> div div :last-child{
    font-family: "Poppins";
    font-weight: 500;
    line-height: 18px;
    color: #91949F;
}
.account> picture{
    filter: invert();
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-filter: invert();
}
.screen1 article .buttonApp{
    margin-top: 247px;
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0362F9;
    border-radius: 12px;

    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.screen1 article .buttonApp h2{
    font-size: 20px;
}
.screen1> :last-child{
    height: 34.32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.screen1> :last-child div{
    width: 135.27px;
    height: 5.05px;
    border-radius: 100px;
    background-color: #B2B7C7;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
/* Screen 2*/


/* ASIDE WITH STATISTICS */

article> aside{
    height: 90px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: #CDFD06;
    color: black;
}
article> aside> div{
    display: flex;
    gap: 84px;
    justify-content: space-evenly;
    align-items: center;
}
article> aside> :nth-child(2){
    padding: 0 50px;
    box-sizing: border-box;
    border-left: 2px solid black; border-right: 2px solid black;
}
article> aside> div> p{
    max-width: 104px;
}

/* SECOND SECTION */

.Advantages{
    padding: 80px 120px;
}
.Advantages article{
    display: flex;
}
article > :nth-child(3) div{
    max-width: 35.5555555555555vw;
}
article > :nth-child(3)>:nth-child(2){
    flex-direction: row-reverse;
}
article > :nth-child(3)>:nth-child(2) h2{
    color: #B83EFA;
}
.Advantages h2{
    margin: 12px 0;
    color: #CDFD06;
}
.Advantages h5{
    margin: 0;
}
.Advantages p{
    margin: 20px 0;
}
.Advantages .secure .stats{
    width: 470.37px;
    margin-left: 80px;
    padding: 32px;
    padding-right: 0;
    border-radius: 29.04px;
    transform: rotate(2.44deg);
    background-color: #1E1E1E;
    -webkit-border-radius: 29.04px;
    -moz-border-radius: 29.04px;
    -ms-border-radius: 29.04px;
    -o-border-radius: 29.04px;
    -webkit-transform: rotate(2.44deg);
    -moz-transform: rotate(2.44deg);
    -ms-transform: rotate(2.44deg);
    -o-transform: rotate(2.44deg);
}
.Advantages .secure .stats> div{
    display: flex;
}
.Advantages .secure .stats> div ul{
    margin: 5rem 0 ;
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 38.71px;
    list-style-type: none;
}
.Advantages .secure .stats> div ul li::before{
    content: "";
    width: 11.61px;
    aspect-ratio: 1/1;
    display: block;
    position: absolute;
    left: 16px;
    margin-top: 6px;
    border-radius: 1vw;
    background-color: #FF447E;

    -webkit-border-radius: 1vw;
    -moz-border-radius: 1vw;
    -ms-border-radius: 1vw;
    -o-border-radius: 1vw;
}
.Advantages .secure .stats> div ul :nth-child(2):before{
    background-color: #C0DD3D;
}
.Advantages .secure .stats> div ul :nth-child(3):before{
    background-color: #B83EFA;
}
.Advantages .secure .stats h5{
    color: #A0A0A0;
    font-size: 15.49px;
    line-height: 24.78px;
    font-weight: 400;
    letter-spacing: 0.01em;
}
.Advantages .secure .stats h6{
    margin: 0;
    font-size: 13.55px;
    font-weight: 400;
    line-height: 21.68px;
    letter-spacing: 0.01em;
}
.Advantages .secure .stats p{
    margin: 0;
    font-size: 17.42px;
    line-height: 27.87px;
}
.Advantages .secure .stats .DisplayedStats{
    width: 353.65px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
.Advantages .secure .stats .DisplayedStats img{
    position: absolute;
}
.Advantages .secure .stats .DisplayedStats p{
    font-size: 38.71px;
    line-height: 61.94px;
}

/* Speed */
.Advantages .fast picture{
    position: relative;
    width: 100%;
    height: 277.61px;
    padding-bottom: 85px;
}
.Advantages .fast picture img{
    position: absolute;
}
.Advantages .fast picture :first-child{
    top: 85px;
}
.Advantages .fast picture :last-child{
    bottom: 170px;
}

/* investments */

.investments{
    margin-left: 160px;
    padding:32px;
    padding-bottom: 210.8px;
    border-radius: 30px;
    background-color: #1E1E1E;
    transform: rotate(-7.57deg);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    -webkit-transform: rotate(-7.57deg);
    -moz-transform: rotate(-7.57deg);
    -ms-transform: rotate(-7.57deg);
    -o-transform: rotate(-7.57deg);
}
.investments h4,
.investments h5{
    margin: 0;
}
.investments h4{
    color: #A0A0A0;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
}
.investments h5{
    margin-top: 8px;
    font-family: "League Spartan";
    font-size: 32px;
    font-weight: 400;
    line-height: 51.2px;
}
.investments h6{
    margin: 0;
    padding-left: 35px;
    width: 365px;
    display: flex;
    position: relative;
    justify-content: space-between;

    color: #E6E6E6;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
}
.investments h6 ::before{
    content: "";
    width: 20px;
    aspect-ratio: 1/1;
    display: block;
    position: absolute;
    left: 0;
}
.investments ul >:first-child h6 ::before{
    background: url("../assets/images/icons/bars.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.investments ul >:nth-child(2) h6 ::before{
    background: url("../assets/images/icons/arrow.svg");
    background-size: contain;
    background-position: center;
}
.investments ul >:last-child h6 ::before{
    background: url("../assets/images/icons/safe.svg");
    background-size: contain;
    background-position: center;
}
.investments h6 span{
    font-size: 16px;
    line-height: 25.6px;
}
.investments ul{
    display: flex;
    flex-direction: column;
    gap: 48px;
    list-style-type: none;
    padding: 0;
}
.investments ul li{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.investments ul .progress{
    height: 100%;
    border-radius: 100px;

    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
.investments ul >:first-child .progress{
    width: calc(235 / 359 *100%);
    background-color: #B83EFA;
    box-shadow: 1px 1px 20px hsla(279, 95%, 61%, 25%);
}
.investments ul >:nth-child(2) .progress{
    width: calc(162 / 359 *100%);
    background-color: #C0DC3F;
    box-shadow: 1px 1px 20px hsla(71, 69%, 55%, 25%);
}
.investments ul >:last-child .progress{
    width: calc(67 / 359 *100%);
    background-color: #FF447E;
    box-shadow: 1px 1px 20px hsla(341, 100%, 63%, 25%);
    }
    
    .investments .bar{
        width: 100%;
        height: 10px;
        background-color: #323232;
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        -o-border-radius: 100px;
        }

/* THIRD SECTION */

.testimonials{
    padding: 118px 0 118px 119px;
    display: flex;
    position: relative;
    background: linear-gradient(108.4deg, #101010 25.88%, rgba(16, 16, 16, 0) 100%);
    }
.testimonials h2,
.testimonials h4,
.testimonials .Body{
    margin: 0;
    }
.testimonials::before{
    content: "";
    width: 172px;
    aspect-ratio: 1/1;
    display: block;
    position: absolute;
    top: -15%;
    right: 128px;
    border-radius: 200px;
    background-color: white;
    background: white url("../assets/images/quote.svg");
    background-repeat: no-repeat;
    background-position: center;

    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    -ms-border-radius: 200px;
    -o-border-radius: 200px;
}
    .testimonials> :first-child{
        min-width: 507px;
        margin-right: 81px;
}
.testimonials> :last-child{
    overflow-x: scroll;
    overflow-y: visible;
    
    height: 356px;
    display: flex;
    align-items: end;
    gap: 24px;
}
.testimonials> :last-child section{
    flex: 0 0 282px;
    height: 293.2px;
    padding: 87px 32px 22px 32px;
    display: flex;
    position: relative;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 10px;
    background-color:#1C1C1E;
    text-align: center;
    text-transform: capitalize;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.testimonials> :last-child section h6{
    margin: 0;
}
.testimonials> :last-child section> :nth-child(2){
    height: 100%;
    line-height: 18px;
    margin-bottom: 0;
}
.occupation{
    margin-top: 5px;
    margin-bottom: 0;
}
.testimonials> :last-child section picture{
    width: 122px;
    aspect-ratio: 1/1;
    position: absolute;
    top: -61px;
    left: 80px;
    border-radius: 100px;
    overflow: hidden;
    background-color: red;
    background-position: center;
    background-size: cover;

    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
.testimonials> :last-child :first-child picture{
    background: url("../assets/images/profiles/1.jpeg");
    background-size: cover;
    background-position: center;
}
.testimonials> :last-child :nth-child(2) picture{
    background: url("../assets/images/profiles/2.jpeg");
    background-size: cover;
    background-position: -35px;

}
.testimonials> :last-child :nth-child(3) picture{
    background: url("../assets/images/profiles/3.jpeg");
    background-size: cover;
    background-position: center;
}
.testimonials> :last-child :nth-child(4) picture{
    background: url("../assets/images/profiles/4.jpeg");
    background-size: cover;
    background-position: -50px;
}
.testimonials> :last-child :nth-child(5) picture{
    background: url("../assets/images/profiles/5.jpeg");
    background-size: cover;
    background-position: top;
}
.testimonials> :last-child :nth-child(6) picture{
    background: url("../assets/images/profiles/6.jpeg");
    background-size: cover;
    background-position: top;
}
.testimonials> :last-child :nth-child(7) picture{
    background: url("../assets/images/profiles/7.jpeg");
    background-size: cover;
    background-position: center;
}
.testimonials> :last-child :nth-child(8) picture{
    background: url("../assets/images/profiles/8.jpeg");
    background-size: cover;
    background-position: center;
}
.testimonials> :last-child :nth-child(9) picture{
    background: url("../assets/images/profiles/9.jpeg");
    background-size: cover;
    background-position: center;
}

/* PLANS */

.plans{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.plans> h3,
.plans> p{
    margin: 0 auto;
    width: max-content;
}
.plans> h3{
    margin-top: 85px;
}
.plans> p{
    max-width: 750px;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFFB5;
}
.plans> div{
    text-align: left;
    margin: 66px auto;
    display: grid;
    grid-template-columns: 486px 690px;
    column-gap: 23px;
}
.plans> div section{
    padding: 70px 68px 37px;
    border-radius: 10px;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.plans> div> :first-child{
    background-color: #1C1C1E;
}
.plans> div> :last-child{
    background-color: #101010;
}
.tier{
    width: max-content;
    padding: 5px 10px;
    border: 1px solid #FFFFFF66;
    border-radius: 19px;
    margin: 0;

    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    -ms-border-radius: 19px;
    -o-border-radius: 19px;
}
.plans> div h4{
    margin: 33px 0 24px;
}
.plans> div hr{
    border: 1px solid #E3E5EA50;
    margin: 24px 0 35px;
}
.plans div ul{
    height: 322px;
    padding: 35px 0 101px;
    margin-bottom: 37px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-top: 1px solid #E3E5EA50;
    border-bottom: 1px solid #E3E5EA50;
    list-style-type: none;
}
.plans div ul li{
    position: relative;
    flex: 0 0 36.88px;
}
.plans div ul li::before{
    content: "";
    width: 19px;
    height: 18px;
    display: block;
    position: absolute;
    left: -28.5px;
    background: url("../assets/images/white-check.svg");
    background-position: center;
    background-repeat: no-repeat;
}
.plans> div section> div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.plans> div section> div p{
    margin: 0;
}
.plans> div section> div p span{
    color: #FFFFFF7A;
}
.plans> div section> div a{
    padding: 10px;
    display: flex;
    border-radius: 5px;
    background-color: white;
    text-align: center;
    text-decoration: none;
    color: #060606;
    font-weight: 600;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.plans> div section> div a span{
    align-content: center;
}
.plans> div :last-child> div a{
    background-color: #CDFD06;
}


/* FAQs */
.FAQs{
    padding: 113px 206px;
    background: linear-gradient(180deg, #101010 0%, rgba(16, 16, 16, 0) 100%);
}
.FAQs> h2{
    text-align: center;
    margin: 32px 0;
}
.FAQs> div{
    display: flex;
    gap: 46px;
}
.FAQs> div> div h2,
.FAQs> div> div p{
    margin: 0 0 16px;
}
.FAQs> div ul{
    max-width: 613px;
    padding: 0;
    display: flex;
    gap: 24px;
    flex-direction: column;
    box-sizing: border-box;
    list-style-type: none;
}
.FAQs> div ul li{
    position: relative;
    box-sizing: border-box;
    padding: 13px;
    background-color: #CDFD06;
    color: #060606;
}
.FAQs> div ul li div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.FAQs> div ul li div h6{
    margin: 0;
}
.FAQs> div ul li div picture{
    align-self: center;
    display: block;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.FAQs> div ul li div:hover picture{
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}
.FAQs> div ul li div:hover ~ p{
    padding: 24px 0 0 0;
    border-top: 1px solid #0000005C;
}
.FAQs> div ul li p:hover{
    padding: 24px 0 0 0;
    border-top: 1px solid #0000005C;
}
.FAQs> div ul li:hover div picture{
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}
.FAQs> div ul :first-child div:hover ~ p,
.FAQs> div ul :first-child p:hover{
    height: 80px;
}
.FAQs> div ul :nth-child(n+2) div:hover ~ p,
.FAQs> div ul :nth-child(n+2) p:hover{
    height: 100px;
}

.FAQs> div ul li p{
    transition: 0.3s;
    overflow: hidden;
    margin: 0;
    height: 0;
    box-shadow: none;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.FAQs> div ul> p{
    width: max-content;;
    margin: 0 auto;
    font-size: 12.8px;
    line-height: 14px;
    color: #E3E5EA80;
}

/* FOOTER */

footer{
    padding: 0 60px 47px;
}
footer> div{
    padding-top: 54px;
    border-top: 1px solid #E3E5EA;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer div section p{
    margin: 0;
    color: #E3E5EA80;
}
footer aside{
    display: flex;
    gap: 74px;
}
footer aside section h6{
    margin: 0 0 7px;
}
footer aside section ul{
    margin: 0;
}
footer aside section ul{
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 7px;
    list-style-type: none;
    font-weight: 300;
}
footer aside section ul li a{
    color:#E3E5EA;
    text-decoration: none;
}
footer> div div{
    width: 100%;
    margin-top: 62px;
    display: flex;
    justify-content: space-between;
    color: #E3E5EA80;
}
footer> div div p{
    margin: 0;
}
footer> div div nav{
    display: flex;
    gap: 56px;
}
footer> div div nav a{
    text-decoration: none;
    color: #E3E5EA80;
}